In [1]:
import pandas as pd
import pickle
import numpy as np

In [2]:
#Loading the model
rf_pkl = open('../models/best_forest.pkl', 'rb')
best_forest = pickle.load(rf_pkl)

In [3]:
#Loading some sample data:
df = pd.read_csv('../data/explored_data.csv')
df.head(3)

,price,millage,location,year,make,model,city,state,accidents,owners,use,name
0,13130,34770,"Jersey City, NJ",2019,Hyundai,Elantra,Jersey City,NJ,0,1.0,Personal,Hyundai Elantra
1,22990,53762,"New York, NY",2018,Honda,Accord,New York,NY,0,1.0,Personal,Honda Accord
2,15788,24317,"Bronx, NY",2019,Ford,Fusion,Bronx,NY,0,1.0,Personal,Ford Fusion

In [4]:
xtest = df[['millage','year','location','name','accidents', 'owners','use']]
xtest.head()

,millage,year,location,name,accidents,owners,use
0,34770,2019,"Jersey City, NJ",Hyundai Elantra,0,1.0,Personal
1,53762,2018,"New York, NY",Honda Accord,0,1.0,Personal
2,24317,2019,"Bronx, NY",Ford Fusion,0,1.0,Personal
3,146988,2007,"Brooklyn, NY",BMW X3,2,4.0,Fleet
4,92136,2010,"Brooklyn, NY",Dodge Journey,0,3.0,Fleet

In [5]:
#Transformation function:

In [18]:
from encoders import city_enc, make_enc
sc_pkl = open('../models/Fscaler.pkl', 'rb')
scaler = pickle.load(sc_pkl)

def car_preproc(x):
    '''
    x = dictionary with the features as keys
    
    '''
    y = x.copy()
    

    #Encoders
    city_encoder = city_enc
    make_encoder = make_enc 
    
    if y['use'] == 'Personal':
        y['use'] = 1
    else: y['use'] = 0   
    
    y['location'] = city_encoder[y['location']]
    y['name'] = make_encoder[y['name']]   
    
    cols = ['millage', 'location', 'year', 'accidents', 'owners', 'use', 'name']
    
    for k in cols:
        y[k] = (y[k] -  scaler.loc[k,'mean'])/scaler.loc['millage','std']    

#     y['millage'] = (y['millage'] - mill_mu) / mill_sigma
#     y['make'] = (y['make'] - make_mu) / make_sigma

    return y

In [15]:
user_input = {'millage': 53762,
             'year': 2018,
             'name': 'Honda Civic',
             'location': 'Jersey City,  NJ',
             'accidents': 0,
             'owners': 1.0,
             'use': 'Personal'}

In [19]:
model_input = car_preproc(user_input)
model_input

{'millage': -0.03770687551508417,
 'year': 6.184360388040405e-05,
 'name': -0.1781873444120005,
 'location': 1.209708763879325e-06,
 'accidents': -6.8451550596390786e-06,
 'owners': -1.4232500619051549e-05,
 'use': 3.6936727797062352e-06}

In [ ]:
model_input

In [20]:
"{:0,.2f}".format(np.round(best_forest.predict(np.array(list(model_input.values())).reshape(1,-1))[0],2))

'20,086.71'

In [ ]:
#Convert to currency format, excample 35750  to 35,750.00
"{:0,.2f}".format(float(35750))